target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
*.class

ci/work/**
misc/apache_logs/apache.log
ci/event_receiver_tmp/
misc/pcap/bigFlows.pcap
/.idea/workspace.xml
